<footer class="footer d-flex justify-content-center bg-dark mt-4">
    <ul class="nav pb-2 pt-2 pb-sm-3 pt-sm-3 pb-md-4 pt-md-4 text-light">
      <li class="nav-item">
        Stock Data Tracker 2019&copy;
      </li>
    </ul>
</footer>