<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">STOCK DATA TRACKER</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <a href="/auth/log-out" class="navbar-text">
            LOGOUT
        </a>
    </div>
</nav>
